.jumbotron {
    padding-top: 6rem;
    
}

#team{
    background-color:rgba(230, 230, 230, 0.70) ;
}

.warna-footer {

    background-color: #6A798C;
}

.pekok{
    color: #F7882F;
}

